* {
    margin: 0;
    padding: 0;
}
.menu {
    width: 900px;
    background-color: red;
    margin: 10px auto;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
/*
div.menu {
    width: 400px;
    background-color: green;
}
*/
.menu > a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    border: 3px solid white;
    padding: 5px;
}
