* {
    margin: 0px;
    padding: 0px;
}
html,body {
    height: 100%;
}
.header {
    width: 100%;
    min-width: 720px;
    height: 100px;
    background: gray;
}
.article {
    width: 720px;
    height: 300px;
    background: red;
}
