* {
    margin: 0px;
    padding: 0px;
}
.article {
    width: 80%;
   /* max-width: 1000px; */
   /* margin: 40px auto; */
    text-align: center;
    background-color: rgb(230, 230, 230);
    padding: 40px;
}
.article h1 {
   color: blue; 
   font-size: 23px;
   font-family: "Times New Roman", Times, Serif;
   font-style: normal;
   font-weight: normal;
   font-variant: small-caps;
}
.article p {
    color: #909090;
    font-size: 17px;
    font-family: tahoma;
    font-style: normal;
    font-weight: bold;
    margin-top: 12px;
    text-align: left;
    letter-spacing: 0px;
}
